@import url('variables.css');
body {
	color: var(--Blue);
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
	background-color: #000113;
    background-image: url("/images/stars.jpg");
    background-size: cover; /* Keeps the original size of the image */
	height: 100vh;
}
p {
	font-size: large;
}
#profile, #tools-tech{
    padding: 70px;
}

#educ-bg, #sample-projects {
    padding: 100px;
    border-radius: 20px;
	backdrop-filter: blur(5px);
	border-radius: 20px;	
	background: rgba(33, 41, 53, 0.2); /* Greyish blue with 20% opacity */
}
#profile {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	align-items: center;
}
#introduction {
    width: 60%;
    margin: 0 auto; /* Centers the content */
}

#introduction h1, #introduction p {
    margin: 0;
}

/* For smaller screens, make the div take up the full width */
@media screen and (max-width: 768px) {
    #introduction {
        width: 90%; /* Take up 90% of the screen width */
    }
}

/* For very small screens, make the div take up the full width */
@media screen and (max-width: 480px) {
    #introduction {
        width: 100%; /* Take up 100% of the screen width */
    }
}

#profile-pic{
	width: 350px;
	border-radius: 50%;
	padding: 0px;
}

#moon {
	position:absolute;
	top: 45%;
	right: 20%;
	z-index: -10;
	width: 200px;
}